@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>DoctorsOnline is a health portal providing a range of services to both healthcare consumers and the medical professionals. DoctorsOnline has a social mission to provide the consumers with essential health related information in simple language. Over the period it has evolved into most comprehensive portal in the health sector in terms of content, viewer ship and technology leadership.

DoctorsOnline is started its journey with the vision to help patients get "the right quality of healthcare services, at the right price, at the right time". Our main objective is to allow you to make an "informed choice" by helping you to view details of the doctors and the hospitals before visiting them.

Hundreds of domestic/international patients have been benefitted from DoctorsOnline by means of our live assistance, "Search/Ask" service and phone based directory services which come at absolutely free-of-cost to the users.

Who we are:
DoctorsOnline provides a platform for patients, doctors, hospitals, medicals, clinics, diagnostic centers, Pharmaceutical companies and governmental agencies to exchange opportunities and promote their services and products online.

DoctorsOnline is headed by eminent doctors with a team of editors, programmers and designers. The site is a privately funded company and is promoted by Iris Technology the web solutions major.

“DoctorsOnline’s vision is to globalize our health sector under one roof or platform so that each and every concerns of each area, town, city of our country and continent is registered or listed on DoctorsOnline.”</p>
