@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    The A Team<br />
    Dhaka, Bangladesh<br />
    <abbr title="Phone">P:</abbr>
    +8801717803850
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hefzul.faisal@gmail.com">hefzul.faisal@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:iftekhar@hotmail.com">iftekhar@hotmail.com</a>
</address>