@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DoctorsOnline</h1>
    <p class="lead">Our BD Govt. accredited doctors have helped treat over thousands of patients in the Bangladesh. Our service is safe and discreet, and empowers you to get the treatments you need with next day delivery or same day collection.</p>
    
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Over View</h2>
        <p>
            The DoctorsOnline is very different. For the first time, it gives you access to a highly sophisticated medical diagnosis tool that is much more powerful than previously available symptom checkers. Using the latest searching technologies, the system can take a pattern of symptoms in everyday language and instantly compute from our vast database of 6,000 diseases, the most likely ones.

            It is based on the same system that is relied on by doctors and nurses around the world to help with diagnosis and is acknowledged as the clear leader in its field.

            The DoctorsOnline puts the world’s medical knowledge at your fingertips and enables you to make sense of your symptoms. It will change the way you speak to your doctor forever.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meet Our Doctors</h2>
        <p>
            Our online doctors are NHS accredited and work to the highest BD medical standards. They work together as a team from our London office and provide exceptional care.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Online Prescription</h2>
        <p>We offer more than 20 online prescription servicess, the Superdrug Online Doctor offers services that enable you to order medication direct to your home, office or anywhere in the Bangladesh.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>